.but {
  width: 136px;
height: 44px;
left: 648px;
top: 553px;
background: #FF6B01;
border-radius: 5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

/* display: flex;
align-items: center; */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
};

/* .watched {
};
.queue {
};
.adw {
};
.atq {
} */